---
layout: archive
permalink: /categories/
title: "Posts by Category"
author_profile: true
---

{% include group-by-array collection=site.posts field="categories" %}

{% for tocCategory in group_names %}

<p id="{{ tocCategory | slugify }}">
    {% assign posts = group_items[forloop.index0] %}
    <a href="#{{ tocCategory }}">
        {{ tocCategory }} ({{ posts.size }} posts)
    </a>
</p>
{% endfor %}

{% for category in group_names %}
{% assign posts = group_items[forloop.index0] %}
<h2 id="{{ category | slugify }}" class="archive__subtitle">
    <a name="{{ category }}">
        {{ category }}{% unless forloop.last %}{% endunless %}
    </a>
</h2>
{% for post in posts %}
{% include archive-single.html %}
{% if posts.size > 1 %}
{% endif %}
{% endfor %}

{% endfor %}