---
title: Posts by Tag
permalink: "/tags/"
layout: archive
author_profile: true
---

{% include group-by-array collection=site.posts field="tags" %}

<p>
    <ul class="archive__toc_ul">
        {% for tocCategory in group_names %}
            <li class="archive__toc_li">
                {% assign posts = group_items[forloop.index0] %}
                <a href="#{{ tocCategory | slugify }}">
                    {{ tocCategory }} ({{ posts.size }} {% if posts.size == 1  %}post{% else %}posts{% endif %})
                </a>
            </li>
        {% endfor %}
    </ul>
</p>

{% for category in group_names %}
{% assign posts = group_items[forloop.index0] %}
{% assign mod = forloop.index0 | modulo: 2 %}
{% if mod == 0  %}
<div style="margin: 0 0 2em 0; padding:0 0 0 0.2em; {% if page.header.overlay_color %}background: {{ page.header.overlay_color | default: 'transparent' }};{% endif %}">
    {% else %}
    <div style="margin: 0 0 2em 0; padding:0 0.2em 0 0; {% if page.header.overlay_color %}background: {{ page.header.overlay_color | default: 'transparent' }};{% endif %}">
        {% endif %}
        <div style="padding: 0.1em 1em 1em 1em; background: rgba(255,255,255,0.95)">
            <h2 id="{{ category | slugify }}" class="archive__subtitle">
                <a name="{{ category }}">
                    {{ category }}{% unless forloop.last %}{% endunless %}
                </a>
            </h2>
            {% for post in posts %}
            {% include archive-single.html %}
            {% endfor %}
        </div>
    </div>

    {% endfor %}